@font-face {
  font-family: 'My Font Thin';
  src: url('../assets/fonts/Inter-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'My Font normal';
  src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'My Font semiBold';
  src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'My Font Bold';
  src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'My Font extraBold';
  src: url('../assets/fonts/Inter-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Global font setting */
* {
  font-family: 'My Font Normal', sans-serif;
}

body {
  font-family: 'My Font Normal', sans-serif;
}

:root {
  --purple: #a37ef2;
  --lightpurple: #f0e8ff;
  --black: #181818;
  --lightblack: #1f1f1f;
  --darkwhite: #f8f8f8;
  --white: #ffffff;
  --lightgray: #f2f2f2;
  --gray: #595959;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/* ─── Scrollbar 숨기기 ─── */
/* Chrome, Safari, Opera */
*::-webkit-scrollbar {
  display: none;
}

/* IE, Edge */
* {
  -ms-overflow-style: none; /* IE and Edge */
}

/* Firefox */
* {
  scrollbar-width: none; /* Firefox */
}

